/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
/* common styles or utilities */

body{
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
}
main{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.container{
    background-color: #FFFFFF;
    width: 870px;
    border-radius: 5px;
    padding: 30px;
    margin-top: 21px;
}
hr{
    border: 1px solid #D1D1D1;
    margin-top: 21px;
}
/* top players styles */
.section-title{
    color: #562EFF;
    height: 36px;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    margin-top: 3px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    grid-row-gap: 29px;
    grid-column-gap: 121px;
}
div.player{
    display: flex;
    align-items: center;
}
div.player>img{
    width: 56px;
    height: 56px;
}
.player_name{
    margin-left: 16px;
    font-size: 18px;
}


/*----------------
top blogs styles
------------------*/
.top-blogs{
    margin-top: 27px;
}
.blog{
    display: flex;
}
.blog .thumbnail img{
    width: 177px;
    height: 117px;

}
.blog .blog-info{
    margin-left: 16px;
}
.blog-title{
    font-size: 20px;
    margin-top: 0;
}
.blog-author{
    color: #9F9F9F;
    font-size: 16px;
}
.blog-author a{
    text-decoration: none;
    font-size: 16px;
    color: #562EFF;
}
div.blogs{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-row-gap: 26px;
}



/*--------------------
latest courses styles
---------------------*/
div.courses{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 24px;
}
div.course{
    width: 252.42px;
    height: calc(269.79px- 16.37px);
    padding: 12px;
    box-shadow: 0px 5.34229px 13.3557px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
}
.course-banner img{
    width: 224px;
    height: 104px;
}
.course-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.fa-star{
    color: #AEAEAE;
    font-size: 12px;
}
.fa-star.filled{
    color: #FFC014;
}
.course-duration{
    background-color: #FEE5DF;
    width: 94.83px;
    height: 29.38px;
    font-size: 14.6913px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 14.69px;
    color: #ED6B4F;
}
.stars{
    width: 120px;
}
.clockmar{
    margin-left: 5.42px;
}

/* ----------media queries------------ */
/* mobile devices */
@media only screen and (max-width:688px){
    .container{
        width: 100%;
    }
    .players ,div.courses,div.blogs{
        grid-template-columns: repeat(1,1fr);
    }
    .player,.blog{
        flex-direction: column;
    }
}
/* tablet devices */
@media only screen and (min-width: 688px) and (max-width:992px){
    .container{
        width: 100%;
    }
    .players,div.courses{
        grid-template-columns: repeat(2,1fr);
    }
    div.blogs{
        grid-template-columns: repeat(1,1fr);
    }
}

